<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>298543559949-0bmnh0hia9suvnbihjiob72rifmo858o.apps.googleusercontent.com</string>
	<key>GIDClientID</key>
	<string>298543559949-rb5rv5j4q4vi26n7ga4mfmutc8r9t5hm.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.298543559949-rb5rv5j4q4vi26n7ga4mfmutc8r9t5hm</string>
			</array>
			<key>CFBundleURLName</key>
			<string></string>
		</dict>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
